html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.pizza-list-table td.title {
    min-width: 200px;
}

.pizza-list-table td.image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pizza-list-table td.items-buttons .buttons {
    display: flex;
}

.items-buttons .buttons > * {
    margin: 5px;
}

.pizza-single-image-container {
    margin-bottom: 10px;
}
